<!DOCTYPE html>
<html lang="en" layout:decorator="layouts/main">
<head>
<title>Create New User</title>
</head>
<body>

	<div layout:fragment="content">

		<div class="container">
			<div class="addUser">
				<h2>Create User</h2>
				<form th:object="${user}" th:action="@{/admin/user/save}" method="post">
					<div><input type="hidden" th:field="*{id}"/></div>
					<div class="row">
						<div th:class="form-group" th:classappend="${#fields.hasErrors('email')}? 'has-error'">
							<label class="col-sm-2 control-label"><span class="required">*</span>Email:</label>
							<div class="col-md-10">
								<input type="text" id="email" name="email" th:field="*{email}" />
								<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:class="help-block">
								Email Errors</span>
							</div>
						</div>
					</div>
					<div class="row">
						<div th:class="form-group" th:classappend="${#fields.hasErrors('password')}? 'has-error'">
							<label class="col-sm-2 control-label"><span class="required">*</span>Password:</label>
							<div class="col-sm-10">
								<input type="password" id="password" name="password" th:field="*{password}" /> 
								<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:class="help-block">
								 Password Errors</span>
							</div>
						</div>
					</div>
					<div class="row">
						<div th:class="form-group" th:classappend="${#fields.hasErrors('firstName')}? 'has-error'">
							<label class="col-sm-2 control-label">First Name:</label>
							<div class="col-sm-10">
								<input type="text" id="firstName" name="firstName" th:field="*{firstName}" /> 
								<span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" th:class="help-block">
								First Name Errors</span>
							</div>
						</div>
					</div>
					<div class="row">
						<div th:class="form-group" th:classappend="${#fields.hasErrors('lastName')}? 'has-error'">
								<label class="col-sm-2 control-label">Last Name:</label>
							<div class="col-sm-10">
								<input type="text" id="lastName" name="lastName" th:field="*{lastName}" />
								<span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" th:class="help-block">
								Last Name Errors</span>
							</div>
						</div>
					</div>
					<div class="row">
						<div th:class="form-group" th:classappend="${#fields.hasErrors('phoneNumber')}? 'has-error'">
							<label class="col-sm-2 control-label">Phone Number:</label>
							<div class="col-sm-10">
								<input type="text" id="phoneNumber" name="phoneNumber" th:field="*{phoneNumber}" />
								<span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" th:class="help-block">
								Phone Number Errors</span>
							</div>
						</div>
					</div>
					<div class="row">
						<div th:class="form-group">
							<label class="col-sm-2 control-label">Role:</label>
							<div class="col-md-10">
								<select id="role" name="role">
								<option
									th:each="role : ${T(com.example.enums.UserRole).values()}"
									th:value="${role}" th:text="${role}" th:field="*{role}">
								</option>
								</select>
							</div>
						</div>
					</div>
					<div class="addUserSubmit">
						<input type="submit" id="addUserSubmit" name="addUserSubmit" value="Save" />
					</div>
				</form>
			</div>
		</div>

	</div>

</body>


</html>