<!DOCTYPE html>
<html lang="en"
	layout:decorator="layouts/main">
<head>
	<title>Route selector - User update confirmation</title>
</head>
<body>
		
	<div layout:fragment="content">
	
		<div class="container">
	
		    <div>
		        <h2> Updated User information:</h2>
		        <form th:object="${user}" th:action="@{/admin/manageUsers}"
					method="post">
		        	<div>
						<input type="hidden" th:field="*{id}" />
						<div class="row">
							<div class="form-group">
								<div class="col-md-2">
									<label for="email"> Email:</label>
								</div>
								<div class="col-md-10">
									<input type="text" disabled = "disabled" id="email" name="email" th:field="*{email}" />
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group">
								<div class="col-md-2">
									<label for="firstName"> First Name:</label>
								</div>
								<div class="col-md-10">
									<input type="text" disabled = "disabled" id="firstName" name="firstName" th:field="*{firstName}" />
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group">
								<div class="col-md-2">
									<label for="email"> Last Name:</label>
								</div>
								<div class="col-md-10">
									<input type="text" disabled = "disabled" id="lastName" name="lastName" th:field="*{lastName}" />
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group">
								<div class="col-md-2">
									<label for="email"> Phone Number:</label>
								</div>
								<div class="col-md-10">
									<input type="text" disabled = "disabled" id="phoneNumber" name="phoneNumber" th:field="*{phoneNumber}" />
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group">
								<div class="col-md-2">
									<label for="email"> Role:</label>
								</div>
								<div class="col-md-10">
									<input type="text" disabled = "disabled" id="role" name="role" th:field="*{role}" />
								</div>
							</div>
						</div>
						<div class="row">
							<div>
								<label for="activeStatus">Active</label>
								<input type="checkbox" disabled = "disabled" id="activeStatus" name="activeStatus" /> 
							</div>
						</div>
					</div>
					
				</form>
		    </div>
		
		</div>	
		
	</div>
		
</body>


</html>