<!DOCTYPE html>
<html lang="en"
	layout:decorator="layouts/main">
<head>
	<title>Manage Routes</title>
</head>
<body>
		
	<div layout:fragment="content">
	
		<div class="container">
		        <h1>Manage Routes</h1>
		        
		        <div class="addRoute">
		       		<h2> Create routes:</h2>
			        <form th:object="${route}"  th:action="@{/admin/route/save}" method="post">
						<div class = "row">
							<div th:class="form-group">
								<div class="col-md-2 control-lable">
									<label for="newRouteDate">Select Day:</label>
								</div>
								<div class="col-md-10">
									<input type="date" id="newRouteDate" name="newRouteDate" th:field="*{routeDate}" th:value="${route.routeDate}" />
								</div>
							</div>
						</div>
						<div class="row">
							<div th:class="form-group">
								<div class="col-md-2 control-lable">
									<label for="startTime"><span class="required">*</span>Select Time:</label>
								</div>
								<div class="col-md-10">
									<select id="startTime" th:field="*{startTime}" th:value="${startTime}">
										<option th:each="routeTime : ${routeTimes}" th:value="${routeTime.startTime}" th:text="${routeTime.startTime}"></option>
									</select>
								</div>
							</div>
						</div>
						<div class="row">
							<div th:class="form-group" th:classappend="${#fields.hasErrors('quantity')}? 'has-error'">
								<div class="col-md-2 control-lable">
									<label for="quantity">Quantity:</label>
								</div>
								<div class="col-md-10">
										<input type="text" id="quantity" name="quantity" th:field="*{quantity}" />
										<span th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}" th:class="help-block">Quantity Errors</span>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group">
								<div class="col-md-12">
					        		<input type="submit" id="createRouteSubmit" name="createRouteSubmit" value="Add" />
					        	</div> 
				        	</div>
			        	</div>
				     </form>
			     </div>
			    <div class="routesTable">
			    	<div th:if="${not #lists.isEmpty(allDailyRoutes)}">
			    	<h2> Current Routes </h2>
			    	<table class="table table-striped">
			    		<tr>
			    			<th>Route Date</th>
			    			<th>Start Time</th>
			    			<th>End Time</th>
			    			<th>Driver</th>
			    			<th>Remove</th>
			    		</tr>
			    		<tr th:each="currentRoute : ${allDailyRoutes}">
			    			<td th:text="${currentRoute.routeDate}"></td>
			    			<td th:text="${currentRoute.startTime}"></td>
			    			<td th:text="${currentRoute.endTime}"></td>
			    			<td th:text="${currentRoute.user.firstName}"></td>
			    			<td><a th:href="${'/admin/route/remove/' + currentRoute.id}">Remove</a> </td>
			    		</tr>
			    		
			    	</table>
			    	
			    	
			    	
			    	</div>
			    	
			    </div>
			        	
		</div>	
		
	</div>
		
</body>


</html>