<!DOCTYPE html>
<html lang="en" layout:decorator="layouts/main">
<head>
<title>Driver route selection</title>
</head>
<body>

	<div layout:fragment="content">

		<div class="container">

			<div class="starter-template">
				<h1>Select the route:</h1>

				<form>
					<div>
						<label for="routeDate">Date:</label> 
						<input type='date' name='routeDate' id='routeDate' /><br /> 
						<label for="routes">Routes:</label>
						<input type="text" id="routes" name="routes" /><br />
						<input type="submit" id="routes" name="routes" value="Submit" /><br />
					</div>

				</form>


			</div>

		</div>

	</div>

</body>


</html>