<!DOCTYPE html>
<html lang="en"
	layout:decorator="layouts/main">
<head>
	<title>Route selector - home</title>
</head>
<body>
		
	<div layout:fragment="content">
	
		<div class="container">
	
		    <div class="starter-template">
		        <h1>Select activity:</h1>
		        <h2>1. <a th:href="@{/driver/viewRoutes}">Route sign-up</a></h2>
		        <h2 sec:authorize="hasRole('ROLE_ADMIN')">2. <a th:href="@{/admin/options}">Admin options</a></h2>
		    </div>
		
		</div>	
		
	</div>
		
</body>


</html>